<ion-view view-title="Charts Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content ng-controller="DashboardController">
    <div class="card" ng-repeat="UnitInfo in unitReponseData">
      <div class="item item-divider">
        {{UnitInfo.UnitID}}
      </div>
      <div class="item item-text-wrap">
        <!-- <canvas id="bar" class="chart chart-bar" chart-data="getArrayList(sensorPointResponseData, 'LastTempValueC', UnitInfo.UnitID);" chart-labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas> -->
        <canvas id="bar" class="chart chart-bar" chart-data="getArrayList(sensorPointResponseData, 'LastTempValueC', UnitInfo.UnitID)" chart-labels="getArrayList(sensorPointResponseData, 'DeviceID', UnitInfo.UnitID)" legend="true" series="getArrayList(sensorPointResponseData, 'DeviceID', UnitInfo.UnitID)" options="{showTooltips: false}" chart-click="onClick"></canvas>
        <!-- <canvas id="bar" class="chart chart-line" chart-data="getArrayList(sensorPointResponseData, 'LastTempValueC', UnitInfo.UnitID)" chart-labels="getArrayList(sensorPointResponseData, 'DeviceID', UnitInfo.UnitID)" legend="true" series="getArrayList(sensorPointResponseData, 'DeviceID', UnitInfo.UnitID)" options="{showTooltips: false}"></canvas> -->
      </div>
    </div>
  </ion-content>
</ion-view>
