<ion-view view-title="Temperature Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content ng-controller="DashboardController">
    <div class="card" ng-repeat="UnitInfo in unitReponseData.UnitItems">
      <div class="item item-divider">
        {{UnitInfo.Desc}}
      </div>
      <div class="alignLeft">
      <div class="alignRight" ng-repeat="sensorTemp in sensorPointResponseData.SPointItems | filterBy: ['ParentID']: UnitInfo.UnitID">
        <div style="font-size:11px;">
          <img ng-src="{{setImage(sensorTemp.Desc)}}" class="image-list-thumb"/>
          <!-- <h3 style="align-content: right-side">{{sensorTemp.Desc}}</h3> -->
          <div class="roundButtonAlignment">
            <!-- <a class="round-button round-button-{{((sensorTemp.LastTempValueC/TEMPERATURE_CUTOFF.cutoffValue) * 100) >= 15 ? 15 : ((sensorTemp.LastTempValueC/TEMPERATURE_CUTOFF.cutoffValue) * 100) >=10 ? 10 : 5 }}"   -->
            <a class="round-button round-button-{{((sensorTemp.LastTempValueC/getThresholdTemp) * 100) >= 15 ? 15 : ((sensorTemp.LastTempValueC/getThresholdTemp) * 100) >=10 ? 10 : 5 }}"
              ng-click="onClick(sensorTemp.SPointID, sensorTemp.Desc)">{{sensorTemp.LastTempValueC}}°F</a>
          </div>
          Range {{getThresholdTemp(UnitInfo.Desc)}}
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
