  <ion-view view-title="Sensor Point Temperature History" name="temperatureHistorical-view">
    <ion-nav-buttons side="left">
      <button class="button icon-left ion-back button-stable" ng-click="back()"><<</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
    <ion-segment [(ngModel)]="relationship" color="primary">

    <ion-content ng-controller="SensorPointTempHistoryController">

      <ti-segmented-control on-select="buttonClicked($index)">
          <ti-segmented-control-button class="button-positive" title="'Today'" selected></ti-segmented-control-button>
          <ti-segmented-control-button class="button-positive" title="'Last 2 Days'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-positive" title="'Last 7 Days'"></ti-segmented-control-button>
          <!-- <ti-segmented-control-button class="button-positive" title="'Custom Search'"></ti-segmented-control-button> -->
      </ti-segmented-control>

      <!-- <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">From Time</span>
          <input type="text" placeholder="YYYY-MM-DD hh:mm:ss AM/PM" value="{{fromDatetimeValue | date: 'yyyy-MM-dd h:mm:ss a'}}" class="item" ion-datetime-picker am-pm ng-model="fromDatetimeValue">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">To Time</span>
          <input type="text" placeholder="YYYY-MM-DD hh:mm:ss AM/PM" value="{{toDatetimeValue | date: 'yyyy-MM-dd h:mm:ss a'}}" class="item" ion-datetime-picker am-pm ng-model="toDatetimeValue">
        </label>
      </div>
      <div class="row">
        <button class="button button-balanced" ng-click="getTempHistory()">
          Display Chart
        </button>
      </div> -->

      <div class="card" ng-show="showChart">
        {{sensorPointID}}
      <div class="item item-text-wrap">
        <canvas id="sensorPointHistoryChart"
        class="chart chart-line"
        chart-data="chartData"
        chart-labels="chartLabel" legend="true"
        chart-series="chartLabel"
        ></canvas>
      </div>
    </div>
    </ion-content>
</ion-view>
<!-- chart-data="chartData"
chart-labels="chartLabel"
  -->
