/* Empty. Add your own CSS if you like */

.button.button-balanced {
  background-color: #3383FF;
}
.button.button-balanced.active, .button.button-balanced.activated {
  border-color: #a2a2a2;
  background-color: #3383FF; }

.tabs-balanced > .tabs,
.tabs.tabs-balanced {
  background-color: #3383FF;
}

.bar.bar-balanced {
  background-color: #3383FF;
}

.alignLeft {
  float: left;
  padding: 10px;
}
.alignLeft.h2 {
vertical-align: middle;
align-content: center;
}

/*RED*/
.round-button-15 {
  background: #FF0000;
}

/*YELLOW*/
.round-button-10 {
  background: #FFD133;
}

/*GREEN*/
.round-button-5 {
  background: #15893D;
}

.round-button {
    display:block;
    width:70px;
    height:70px;
    line-height:70px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;

    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;

}
.round-button:hover {
    background: #3383FF;
}
