/* Empty. Add your own CSS if you like */

.button.button-balanced {
  background-color: #3383FF;
}

.tabs-balanced > .tabs,
.tabs.tabs-balanced {
  background-color: #3383FF;
}

.bar.bar-balanced {
  background-color: #3383FF;
}

.alignLeft {
  float: left;
  padding: 10px;
}

/*RED*/
.round-button-5 {
  background: #FF0000;
}

/*YELLOW*/
.round-button-10 {
  background: #FFD133;
}

/*GREEN*/
.round-button-15 {
  background: #15893D;
}

.round-button {
    display:block;
    width:70px;
    height:70px;
    line-height:70px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;

    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;

}
.round-button:hover {
    background: #3383FF;
}

/*
.round-button {
	width:25%;
}
.round-button-circle {
  float: left;
	width: 50px;
	height:10px;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:auto;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}*/
