/* Empty. Add your own CSS if you like */

.button.button-assertive {
  background-color: #ce0d0d;
}
.button.button-assertive {
  background-color: #ce0d0d;
}

.button.button-assertive.active, .button.button-assertive.activated {
  border-color: #a2a2a2;
  background-color: #ce0d0d; }

.tabs-assertive > .tabs,
.tabs.tabs-assertive {
  background-color: #ce0d0d;
}

.bar.bar-assertive {
  background-color: #ce0d0d;
  border-color: #ce0d0d;
}

.alignLeft {
  float: left;
  width: 180px;
  padding: 10px;
  text-align: center;
}
.alignLeft.h2 {
  width: 180px;
vertical-align: middle;
align-content: center;
text-align: center;
}

.image-list-thumb {
  width: 60px;
  height: 60px;
}

.textAlignleft {
	float: left;
}

.textAlignright {
	float: right;
}

/*RED*/
.round-button-15 {
  background: #FF0000;
}

/*YELLOW*/
.round-button-10 {
  background: #FFD133;
}

/*GREEN*/
.round-button-5 {
  background: #15893D;
}

.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size:10px;
    /* font-weight:bold; */

}
.round-button:hover {
    background: #4a8ece;
}

.headerItem {
  background: #ce0d0d; /* #29506d  #d2d9dd; */
  color: white;
}
.item {
  background: #f9ffff;
}

.odditem {
  background: #e9b9b9 /* cff7ea #f9ffff; */
}

.evenitem {
  background: #e8ebf7; /*#cbc2d6; */
}

.row{
/*border: solid #29506d 1px;*/
border: solid #29506d 1px;
padding: 0;
}

.col{
border-left: solid #29506d 1px;
offset: 0;
}

.card {
  border: solid #ce0d0d 1px;
  /*background-color: rgba(249, 4, 4, 0.24);*/
};

.card.item {
  background-color: rgba(249, 4, 4, 0.24);
}

.card.ng-binding {
  background-color: rgba(249, 4, 4, 0.24);
  padding-top: 5px;
  text-align: center;
}

.item.item-divider.item {
  background-color: rgba(249, 4, 4, 0.24)
}


.roundButtonAlignment {
  width: 65%;
  margin-left: auto;
}

/*.odd {
  .row;
  .col;
  color: red;
}
.odd.row{
border: think solid green;
color: red;
padding: 0;
offset:5;
}
.odd.col{
border: think solid green;
color: red;
offset: 0;
}
.even {
  .row;
  .col;
  color: blue;
}*/
